<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true"
    style="background-image: url('./assets/img/tgt_002.png');">
    <div class="filter"></div>
  </div>

  <div class="container" style="margin: 36px auto;">

    <div class="row">
      <button type="button" class="btn btn-danger btn-just-icon" (click)="location.back()"> 
        <i class="fa fa-arrow-left"></i>
      </button>
    </div>
    
    <div class="col-md-8 new-competition-container">
      <h3>Nouvelle competition</h3>

      <form class="new-competition-form" [formGroup]="newCompFormG" (ngSubmit)="OnSubmit()">

        <div class="row">
          <div class="col-md-6">
            <label>Nom</label>
            <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
              <div class="input-group-prepend">
              </div>
              <input type="text" formControlName="nom" class="form-control" placeholder="Nom" (focus)="focus=true"
                (blur)="focus=false">
            </div>
          </div>
        </div>

        <label> Description </label>
        <textarea formControlName="description" class="form-control" rows="4"
          placeholder="Décrire la compétition..."></textarea>

        <div class="row">
          <div class="col-md-6">
            <label>Date de début</label>
            <div class="input-group" [ngClass]="{'input-group-focus':focus2===true}">
              <div class="input-group-prepend">
              </div>
              <input type="date" formControlName="date_deb" class="form-control" placeholder="Date de début"
                (focus)="focus2=true" (blur)="focus2=false">
            </div>
          </div>
          <div class="col-md-6">
            <label>Date de fin</label>
            <div class="input-group" [ngClass]="{'input-group-focus':focus3===true}">
              <div class="input-group-prepend">
              </div>
              <input type="date" formControlName="date_fin" class="form-control" placeholder="Date de fin"
                (focus)="focus3=true" (blur)="focus3=false">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <label>Nombre maximum de participants</label>
            <div class="input-group" [ngClass]="{'input-group-focus':focus4===true}">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="nc-icon nc-circle-10"></i></span>
              </div>
              <input type="text" formControlName="nb_max_participant" class="form-control"
                placeholder="Nombre maximum de participants" (focus)="focus4=true" (blur)="focus4=false">
            </div>
          </div>
        </div>

        <div class="row" style="margin-top: 30px;">
          <div class="col-md-3 mr-auto ml-auto">
            <button type="submit" class="btn btn-danger btn-lg btn-fill">Valider</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <div class="modal-msg">
      <div class="modal-icon"><i class="nc-icon nc-check-2"></i></div>
      <p> Ajout de la compétition avec succés</p>
    </div>
  </div>

</div>