<!-- <div style="text-align: center;">
    <i class="fa fa-check-circle icon"></i>
</div>
<div class="modal-body" style="text-align: center;">Succes</div> -->


<div class="modal-header">
    <h5 class="modal-title text-center">Succés</h5>
</div>
<div style="text-align: center;">
    <i class="fa fa-check-circle icon"></i>
</div>
<div class="modal-body" style="text-align: center;"> Thank you for your participation
</div>
<div class="modal-footer">
    <div class="right-side">
        <button type="button" class="btn btn-danger btn-link" (click)="navigate()">OK</button>
    </div>
</div>