.new-competition-container.col-md-8 {
    margin: auto;
}

.comp-cover {
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    max-height: 200px;
}

.icon-red,
.text-red {
  color: red;
  font-weight: normal;
  font-size: 14px;
}