<div class="container" style="margin: 36px auto;">

  <div class="row">
    <button type="button" class="btn btn-danger btn-just-icon" (click)="backToList()">
      <i class="fa fa-arrow-left"></i>
    </button>
  </div>

  <div class="row col-md-10" style="margin: auto">

    <div class="row">
      <div *ngIf="comp.comp_type == 'Talents divers'" class="comp-cover col-md-6"
        style="background-image: url('./../../../assets/img/competitions/competition_3.jpg')"></div>
      <div *ngIf="comp.comp_type == 'Chant'" class="comp-cover col-md-6"
        style="background-image: url('./../../../assets/img/competitions/sing_comp.jpg')"></div>
      <div *ngIf="comp.comp_type == 'Spectacle de magie'" class="comp-cover col-md-6"
        style="background-image: url('./../../../assets/img/competitions/magic_comp.jpg')"></div>
      <div *ngIf="comp.comp_type == 'Danse'" class="comp-cover col-md-6"
        style="background-image: url('./../../../assets/img/competitions/danse_comp.jpg')"></div>
      <div *ngIf="comp.comp_type == 'Performance de spectacle'" class="comp-cover col-md-6"
        style="background-image: url('./../../../assets/img/competitions/performance_spectacle_comp.jpg')"></div>
      <div *ngIf="comp.comp_type == 'Art'" class="comp-cover col-md-6"
        style="background-image: url('./../../../assets/img/competitions/art_comp.png')"></div>
      <div *ngIf="comp.comp_type == 'Dessin'" class="comp-cover col-md-6"
        style="background-image: url('./../../../assets/img/competitions/dessin_comp.jpg')"></div>

      <div class="col-md-6" style="padding: 0px 30px;">
        <h3 style="margin: auto; margin-bottom: 30px;"> {{ comp.nom }} </h3>
        <p> {{ comp.description }} </p>
      </div>
    </div>

    <div class="row col-md-12" style="padding: 30px">
      <div class="row col-md-12">

        <div class="col-md-7">
          <div style="padding: 5px;"> <i class="nc-icon nc-circle-10" [ngClass]="{'icon-red': comp.full}"></i>
            <span ngClass="{'text-red': comp.full}"> Participants : {{ comp.nb_participant }} /
              {{ comp.nb_max_participant }} </span></div>
        </div>
      </div>

      <div class="row col-md-12">
        
        <div class="col-md-6">
          <div style="padding: 5px;"> <i class="nc-icon nc-calendar-60" [ngClass]="{'icon-red': comp.closed}"></i> <span
              ngClass="{'text-red': comp.closed}"> Starting date : {{ comp.date_debut }}
            </span> </div>
          <div style="padding: 5px;"> <i class="nc-icon nc-calendar-60"></i> <span> End date : {{ comp.date_fin }}
            </span>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>