<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/daniel-olahh.jpg');">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1> Tunisian'Got Talent</h1>
      <h3> Forum </h3>
      <br />
      <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i
          class="fa fa-play"></i>Watch video</a>
      <button type="button" class="btn btn-outline-neutral btn-round">Download</button> -->
    </div>
  </div>
</div>

<div class="main">
  <div class="section text-center">
    <div class="container">
    </div>
  </div>
</div>