.star {
  font-size: 40px;
  color: #b0c4de;
}
.filled {
  color: #ffd700;
}
.filled.bad {
  color: #ff1e1e;
}

.talent-span {
  color: #f5593d;
}

.icons {
  padding-bottom: 1%;
}

.about {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5em;
}

.text-area {
  border: none !important;
  min-height: 60px;
  margin-bottom: 2%;
  width: 100%;
  background: transparent;
}

.comment-img {
  max-width: 35% !important;
  background-color: #ffffff;
  margin-bottom: 10px;
  padding: 4px;
  border-radius: 50% !important;
}

.comment {
  background: #f5593d17;
}
