<div class="wrapper" *ngIf="profil">
    <div class="page-header page-header-xs" data-parallax="true"
        style="background-image: url('./assets/img/talent1.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/faces/joe-gardner-2.jpg" alt="Circle Image"
                        class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <ngb-rating max=5 rate=0>
                        <ng-template let-fill="fill" let-index="index">
                            <span class="star" [class.filled]="fill === 100" [class.bad]="index < 2">&#9733;</span>
                        </ng-template>
                    </ngb-rating>
                    <h4 class="title">{{profil.profils.iduser.username_canonical}}<br /></h4>
                    <h6 class="description">{{profil.profils.talent}}</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>{{profil.profils.description}}</p>
                    <br />
                </div>
            </div>
            <div *ngIf="profil.profils.video" class="container">
                <div class="text-center" style="padding-bottom: 5%">
                    <br />
                    <a (click)="youtubeNavigator(profil.profils.video)" class="btn btn-outline-danger btn-round"><i
                            class="fa fa-play"></i>Watch video</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <div class="card page-carousel">
                        <ngb-carousel>
                            <ng-template ngbSlide>
                                <img src="./assets/img/soroush-karimi.jpg" alt="Random first slide">
                                <div class="carousel-caption">
                                    <p>Somewhere</p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/img/federico-beccari.jpg" alt="Random second slide">
                                <div class="carousel-caption">
                                    <p>Somewhere else</p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/img/joshua-stannard.jpg" alt="Random third slide">
                                <div class="carousel-caption">
                                    <p>Here it is</p>
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>
                </div>
            </div>
            <br />
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'">
                        <ngb-tab title="About Me">
                            <ng-template ngbTabContent>
                                <div class="row" style="text-align: start">
                                    <h5 class="about col-md-6"> <img src="assets/img/phone.png" alt="" class="icons">
                                        <span style="color: #f5593d;"> Phone number : </span>
                                        <span>{{profil.profils.telephone}}</span></h5>
                                    <h5 class="about col-md-6"><img src="assets/img/maill.png" alt=""> <span
                                            style="color: #f5593d;"> Email :
                                        </span><span>{{profil.profils.iduser.email}}</span></h5>
                                </div>
                                <div class="row" style="text-align: start">
                                    <h5 class="about col-md-6"><img src="assets/img/map.png" alt="" class="icons"><span
                                            style="color: #f5593d;"> Address :
                                        </span><span>{{profil.profils.address}}</span></h5>
                                    <h5 class="about col-md-6"><img src="assets/img/home-run.png" alt=""
                                            class="icons"><span style="color: #f5593d;"> Governorate :
                                        </span><span>{{profil.profils.governorate}}</span></h5>
                                </div>


                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Comments">
                            <ng-template ngbTabContent>
                                <form [formGroup]="commentForm" *ngIf="connectedUser && connectedUser.id !== profil.profils.iduser.id">
                                    <div class="card comment">
                                        <div class="row" style="padding-top: 1%">
                                            <div class="col-md-3">
                                                <img src="assets/img/faces/clem-onojeghuo-3.jpg"
                                                    class="img-no-padding img-responsive comment-img"
                                                    alt="Rounded Image">
                                            </div>

                                            <div class="col-md-8" style="padding-top: 1%; text-align: initial">
                                                <textarea type="text" class="text-area"
                                                    placeholder="Write your comment here!"
                                                    formControlName="comment"></textarea>
                                            </div>

                                            <div class="col-md-1" style="padding-top: 1%;">
                                                <div class="row" style="padding-top: 36%;">
                                                    <button type="button" class="btn btn-info btn-just-icon"
                                                        (click)="comment()"><i class="fa fa-share"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <button *ngIf="!connectedUser" style="margin-bottom: 3%;" type="button" class="btn btn-outline-danger btn-round" (click)="login()"><i class="fa fa-user"></i>Sign In To Add Comments</button>
                                <app-card-list *ngIf="comments.length > 0" [pageSize]="5" [data]="comments"
                                    [cardType]="EcardType.COMMENT"></app-card-list>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div>