.row {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.col-md-2 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.competition-card {
  height: 240px;
  margin: 36px auto;

  img {
    height: 100%;
    width: 32.5%;
    max-width: 32.5%;
    max-height: 240px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
  }

    div.card-body {
        width: 62.5%;
        height: 100%;
    }
}

.event-card {
    display: flex;
    flex-direction: column;
    padding: 32px;
}

.star {
  font-size: 40px;
  color: #b0c4de;
}
.filled {
  color: #ffd700 !important;
}
.filled.bad {
  color: #ff1e1e !important;
}

.talent-span {
  color: #f5593d;
}

.evenement-card {
  height: 300px;

  img {
    height: 100%;
    width: 32.5%;
    max-width: 32.5%;
    max-height: 211px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
  }

  div.card-body {
    width: 62.5%;
    height: 100%;
  }
}

.favoris-card {
  height: 211px;

  img {
    height: 100%;
    width: 32.5%;
    max-width: 32.5%;
    max-height: 211px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
  }

  div.card-body {
    width: 62.5%;
    height: 100%;
  }
}

.nc-icon {
    font-size: 15px;
    padding: 0 8px;
}

.br-default {
    margin: auto;
}

.icon-red, .text-red {
  color: red;
  font-weight: normal;
  font-size: 14px;
}

.comment-img {
  max-width: 35% !important;
  background-color: #ffffff;
  margin-bottom: 10px;
  padding: 4px;
  border-radius: 50% !important;
}

.raised-like {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.comment-btn {
  display: flex;
  justify-content: center;
}

.star {
  font-size: 40px;
  color: #b0c4de;
}

.closed {
  width: 100px;
  height: 50px;
  text-align: center;
  padding-top: 12%;
  font-size: 15px;
}