.row {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.col-md-2 {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.competition-card {
    height: 211px;

    img {
        height: 100%;
        width: 32.5%;
        max-width: 32.5%;
        max-height: 211px;
        border-bottom-left-radius: 12px;
        border-top-left-radius: 12px;
    }

    div.card-body {
        width: 62.5%;
        height: 100%;
    }
}