<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">

            <a class="navbar-brand" routerLink="/talents">Talents</a>
            <a class="navbar-brand" routerLink="/events">Events</a>
            <a class="navbar-brand" routerLink="/competitions">Competitions</a>
            <a class="navbar-brand" routerLink="/business">Business</a>
            <a class="navbar-brand" routerLink="/forum">Forum</a>

            <a class="navbar-brand" routerLink="/entreprise">Entreprises</a>
            <a class="navbar-brand" routerLink="/sponsoriser">Sponsorise</a>

            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank">
                        <i class="fa fa-twitter"></i>
                        <p class="d-lg-none">Twitter</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                        <p class="d-lg-none">Facebook</p>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
                        <i class="fa fa-instagram"></i>
                        <p class="d-lg-none">Instagram</p>
                    </a>
                </li> -->
                <!-- <li>
                    <button type="button" class="btn btn-outline-danger btn-round"> Sign in</button>
                </li> -->
                <li class="nav-item">
                    <a [routerLink]="['/signup']" *ngIf="connectedUser" style="color: #28a745;" class="nav-link"><i class="fa fa-user"></i><span style="vertical-align: sub">{{connectedUser.username_canonical}}</span></a>
                    <a [routerLink]="['/signup']" *ngIf="!connectedUser" class="nav-link"><i class="fa fa-user"></i><span style="vertical-align: sub">Sign In</span></a>
                </li>
                <li *ngIf="connectedUser" class="nav-item">
                    <a class="nav-link" (click)="logOut()"><span style="vertical-align: sub; color: #dc3545;">Log Out</span></a>
                </li>
                <li class="nav-item" *ngIf="!isHome()">
                    <a [routerLink]="['/home']" *ngIf="!isDocumentation()" class="nav-link"><i class="nc-icon nc-layout-11"></i></a>
                    <a [routerLink]="['/home']" *ngIf="isDocumentation()" class="nav-link">Back to Kit</a>
                </li>
                <li class="nav-item" *ngIf="isDocumentation()">
                    <a href="https://github.com/creativetimofficial/paper-kit-2-angular/issues?ref=pk2-free-local" target="_blank" class="nav-link">Have an issue</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
