<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
        style="background-image: url('./assets/img/tgt_002.png');">
        <div class="filter"></div>
    </div>

    <div class="container" style="margin: 36px auto;">
        <div class="row">
            <div class="card-deck">

                <div class="card bg-dark text-white">
                    <img class="card-img" src="./assets/img/entrep.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <h5 class="card-title text-center font-weight-bold"> Créez votre entreprise</h5>
                        <p class="card-text text-center">
                            <button routerLink="/create-entreprise" class="btn btn-sm btn-primary">Créez</button>
                        </p>
                    </div>
                </div>

                <div class="card bg-dark text-white">
                    <img class="card-img" src="./assets/img/choien.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <h5 class="card-title text-center font-weight-bold">Choisissez votre entreprise</h5>
                        <p class="card-text text-center">
                            <button routerLink="/entreprise-list" class="btn btn-sm btn-primary">Choisir</button>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>