<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
        style="background-image: url('./assets/img/tgt_002.png');">
        <div class="filter"></div>
    </div>

    <div class="container" style="margin: 36px auto;">
        <div class="row mb-3">
            <div class="col-3"><input type="text" class="form-control"></div>
            <div class="col-9"> <button class="btn btn-primary">Rechercher</button></div>
        </div>
        <div class="row">

            <div class="col-4">
                <div class="card" style="width: 18rem;">

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center font-weight-bold">Vermeg</li>
                    </ul>
                    <div class="card-body">
                        <p class="card-text"> <span class="font-weight-bold"> Site Web :</span> www.abc.com </p>
                        <p class="card-text"> <span class="font-weight-bold"> Employés :</span> 35 </p>
                        <p class="card-text"> <span class="font-weight-bold"> Création :</span> 29 - 10 - 2001 </p>
                        <p class="card-text"> <span class="font-weight-bold"> Email :</span> contact@abc.tn </p>
                        <p class="card-text"> <span class="font-weight-bold"> Lieux :</span> Tunis </p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6"><button class="btn btn-warning btn-sm">Modifier</button></div>
                            <div class="col-6"><button class="btn btn-danger btn-sm">Supprimer</button></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>