<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
        style="background-image: url('./assets/img/tgt_002.png');">
        <div class="filter"></div>
    </div>

    <div class="container" style="margin: 36px auto;">

        <div class="row">

            <ng-container *ngFor="let item of sponsore">
                <div class="col-4">

                    <div class="card" style="width: 18rem;">

                        <div class="card-body">
                            
                            <p class="card-text"> <span class="font-weight-bold"> Type :</span> {{item.type}}
                            </p>
                            <p class="card-text"> <span class="font-weight-bold"> Date :</span>
                                {{item.date_sp}} </p>
                        </div>
                    </div>
                </div>
            </ng-container>

        </div>
    </div>
</div>