/* You can add global styles to this file, and also import other style files */

* {
    margin: 0px;
}

.row {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.col {
    padding-left: 0px!important;
    padding-right: 0px!important;
}